{{ define "main" }} {{ $baseUrl := .Site.BaseURL }}
<div class="section">
  <article class="container box">
    <header>
      <div class="is-flex">
        {{ if .Params.featured_image }}
        <figure class="image is-96x96" style="margin-right: 0.5em;">
        {{ with .Resources.GetMatch .Params.featured_image }}
          <img alt="{{ .Name }}" class="is-rounded" src="{{ .Permalink }}" />
        {{ else }}
          <img alt="{{ .Params.featured_image }}" class="is-rounded" src="{{ .Params.featured_image | relURL }}" />
        {{ end }}
        </figure>
        {{ end }}
        <div>
          <h1 class="title is-1">{{ .Title }}</h1>
          <h6 class="subtitle is-6">{{ .Summary }}</h6>
        </div>
      </div>
      <div style="margin-top: 1em">
        {{ range .Params.Tags }}
        <a class="tag is-primary is-light" href="{{ $baseUrl }}/tags/{{ . }}"
          >{{ . }}</a
        >
        {{ end }}
      </div>
    </header>
    <div class="content" style="margin-top: 1em">{{ .Content }}</div>
    {{- partial "comments.html" -}}
  </article>
</div>
{{ end }}
