body {
  display: flex;
  // use this if navbar is fixed
  min-height: calc(100vh - 52px);
  flex-direction: column;
  background-image: url("36129.webp");
  background-position: center center;
  background-repeat: repeat-y;
  background-size: cover;
}

.main {
  flex: 1;
}

.navbar {
  display: flex;
  align-content: center;
  justify-content: center;
}

.dropdown-wrapper {
  position: absolute;
  z-index: 9999;
}

footer {
  padding: 1rem 1rem 1rem !important;
  background-color: transparent;
}

ul.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;

  .page-item a {
    background-color: hsl(0, 0%, 100%);
    color: #00947e;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #00947e;
    margin: 0 4px;
    border-radius: 5px;
  }

  .active a {
    background-color: #ebfffc;
    color: #00947e;
    border: 1px solid #00947e;
  }
}

.tagtitle {
  background-color: #ebfffc;
  color: #00947e;
  border: 1px solid #00947e;
}