@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  font-family: "Itim", cursive;
  font-size: larger;
}

.footer {
  font-size: medium;
}

.tag {
  font-family: "Itim", cursive;
  font-size: medium;
}
