@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('https://ntk148v.github.io/iosevkawebfont/latest/woff2/iosevka-medium.woff2') format('woff2');
}

body {
  font-family: "Amatic SC", cursive;
  font-size: larger;
}

.footer {
  font-size: medium;
}

.tag {
  font-family: "Iosevka Web", monospace;
  font-size: medium;
}
