@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://ntk148v.github.io/iosevkawebfont/latest/iosevka.css");

body {
  font-family: "Amatic SC", cursive;
  font-size: larger;
}

.footer {
  font-size: medium;
}

.tag {
  font-family: "Iosevka Web", monospace;
  font-size: medium;
}
