{{ $baseUrl := .Site.BaseURL }} 
<a class="box" href="{{ .Permalink }}" aria-label="{{ .Title }}">
  <div class="is-flex">
    {{ if .Params.featured_image }}
    <figure class="image is-48x48" style="margin-right: 0.5em;">
    {{ with .Resources.GetMatch .Params.featured_image }}
      <img alt="{{ .Name }}" class="is-rounded" src="{{ .RelPermalink }}" />
    {{ else }}
      <img alt="{{ .Params.featured_image }}" class="is-rounded" src="{{ .Params.featured_image | relURL }}" />
    {{ end }}
    </figure>
    {{ end }}
    <div>
      <div>{{ .Title }}</div>
      <small class="has-text-grey">{{ .Summary }}</small>
    </div>
  </div>
  <div style="margin-top: 0.5em;">
    {{ range .Params.Tags }}
    <span class="tag is-primary is-light">{{ . }}</span>
    {{ end }}
  </div>
</a>